<h1><%= link_to "Menu", menu_path %> </h1>
<h1><%= link_to "Contact", contact_path%></h1>

  <% if params[:search] and not @food_items.present? %>
    <h4 style="margin-top:40px;margin-bottom:40px"> Sorry, there is no post containing "<%= params[:search] %>"</h4>
  <% elsif @food_items  %>
      <%= render @food_items %>
  <% end %> 
