<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
	<div class="card">
	    <div class="card-block">
	      <%= link_to food_item.name, food_items_path+"/#{food_item.id}", class: "card-title" %>
	    </div>
	      <img class="card-img-top img-fluid" src=<%= food_item.image_url %> alt="Card image cap">
	    <div class="card-block">
	      <%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-1x", text: food_item.price %>
	      <%= fa_stacked_icon "eye", class: "fa-1x", text: food_item.views %>
	    </div>
	</div>
</div>

